.App {
  text-align: center;
}

.App-logo {
  margin-top: 25vh;
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #3b2652;
  height: 100vh;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 3rem;
  margin: 50px;
}

.Page-title {
  font-size: 1em;
  margin: 25px;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.example-enter {
  opacity: 0.01;
}

.example-enter.example-enter-active {
  opacity: 1;
  transition: opacity 200ms ease;
}

.example-leave {
  opacity: 1;
}

.example-leave.example-leave-active {
  opacity: 0.001;
  
  transition: opacity 500ms ease;
}

.header{
  color: white;
  font-size: 3rem;
  padding: 1vh 0 1vh 0;

  margin-bottom: 10px;

  background: rgba(103,79,127,1) ; /* Old browsers */
}

.page-enter {
  opacity: 0.01;
}

.page-enter.page-enter-active {
  opacity: 1;
  transition: opacity 1000ms ease;
}

.page-leave {
  opacity: 1;
}

.page-leave.page-leave-active {
  opacity: 0.001;
  
  transition: opacity 1000ms ease;
}

.content {
 
  min-height: 50vh;
  margin: 0 20vw 0 20vw;

}

@media screen and (max-width: 1079px) {
  .content {
    margin: 5px;
  }
}


.next-arrow, .prev-arrow {
  position: absolute;
  top:0%;
  display: block;
  font-family: 'slick';
  height: 100%;

  margin: 0 auto;
  font-size: 2.0rem;
  padding: 0.5rem 1rem;
  display: block;

  opacity: 0.4;
  background-color: #f1f1f1;
  color: rgba(103,79,127,1);
  border-color: rgba(59,38,82,1);
  border: 1px solid;

  font-weight: 300;

  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.next-arrow:hover, .prev-arrow:hover {
  background-color: rgba(103,79,127,0.7);
  color: #ffffff;
  border-color: rgba(59,38,82,1);
}

.next-arrow:active, .prev-arrow:active { 
  background-color: rgba(59,38,82,1);
  opacity: 1;
}

.next-arrow:focus, .prev-arrow:focus {
  outline:0;
}

.prev-arrow {
  z-index: 1000;
}

.next-arrow
{
  right: 0px;
  z-index: 1000;
}

.img-offer{
  max-width: 100%;
  max-height: 100%;
}

@media screen and (max-width: 992px) {
  .img-offer{
    margin-top:0;
  }
}

.row-background {
  background-color: rgba(59,38,82,1);
}

div.col-md-8 h3, div.col-md-8 h6 {
  padding-left: 10px;
} 

.todo {
  margin-bottom: 0;
}

.ReactTable {
  margin-bottom: 30px;
}

@media screen and (max-width: 480px) {
  .ReactTable {
   font-size: 10px;
   
  }
  
}

.rt-th
{
  color: #e1e1e1;
  background-color: rgba(103,79,127,1);
  border-right: 1px solid rgba(59,38,82,1);
}

.rt-tr-group {
 cursor: pointer;
}

.rt-tr-group:hover {
  transition-duration: .28s;
  background-color: rgba(59,38,82,1);
  color: #e1e1e1;
}

.Sticky {
  padding: 20px;
  border-radius: 3px;
  font-size: 18px;
  color: #fff;
  margin-bottom: 20px;

}

.sticky {
    position: fixed;
    left: 0;
    border-radius: 0;
    margin: 0;
 }

 .sticky-class{
  position: fixed;
  left: 0;
  border-radius: 0;
  margin: 0;
  width:15vw;
   background-color: transparent;
   z-index: 1001;
 }

@media screen and (max-width: 1079px) {
  .sticky-class {
    display: none;
  }
}

@media screen and (max-width: 768px){
  h2 {
    font-size: 3.5rem;
  }
  h3 {
    font-size: 2.5rem;
  }
  h6 {
    font-size: 2rem;
  }
}

 .todo li {
   cursor: default;
 }
 .btn.btn-primary.col-md-12 {
   border: 0;
   border-radius: 0;
   min-width:5vw;
 }

 .map-container {
   width: 59vw;
   height: 500px;
   margin-bottom: 100px;
  }

@media screen and (max-width: 1079px) {
  .map-container {
    width: 99vw;
    height: 300px;
  }
}

/* base CSS element */
.tip {
  font-size: 1.3rem;
  background: rgba(103,79,127,1);
  color: whitesmoke;
  border: 1px solid rgba(59,38,82,1);
  opacity: 0.7;
	padding: 10px;
	position: relative;
  width: 20rem;
  
  -webkit-transform: translate(-50%, -110%); 
  -moz-transform: translate(-50%, -110%); 
  transform: translate(-50%, -110%); 

  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.tip:hover {
  opacity: 1;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

/* arrows - :before and :after */
.tip:before {
	position: absolute;
	display: inline-block;
	border-left: 9px solid transparent;
	border-right: 9px solid transparent;
	border-top: 9px solid rgba(103,79,127,1);
	left: 50%;
	bottom: -10px;
	content: '';
}

.tip:after {
	position: absolute;
	display: inline-block;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-top: 10px solid rgba(103,79,127,1);
	left: 50%;
	bottom: -10px;
	content: '';
}